Package: com.alshamanreddit.plus
Name: RedditPlus
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Saud Alshaman
Author: Saud Alshaman
Section: Tweaks
